language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

matrix:
  include:
    - php: 5.6
      env: SYMFONY_VERSION="2.3.*"
    - php: 5.6
      env: SYMFONY_VERSION="2.4.*"
    - php: 5.6
      env: SYMFONY_VERSION="2.5.*"
    - php: 5.6
      env: SYMFONY_VERSION="2.6.*"
    - php: 5.6
      env: SYMFONY_VERSION="2.7.*"
    - php: 5.6
      env: SYMFONY_VERSION="2.8.*@dev"
    - php: 5.6
      env: SYMFONY_VERSION="3.0.*@dev"

before_install:
  - composer self-update
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/http-kernel:$SYMFONY_VERSION symfony/dependency-injection:$SYMFONY_VERSION symfony/yaml:$SYMFONY_VERSION symfony/config:$SYMFONY_VERSION symfony/monolog-bridge:$SYMFONY_VERSION symfony/doctrine-bridge:$SYMFONY_VERSION; fi

install:
  - composer update --prefer-dist

script:
  - vendor/bin/phpunit

after_script:
  - vendor/bin/coveralls

notifications:
  email: matthiasnoback@gmail.com
